<!DOCTYPE <html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit:cover;
      }
    </style>
    <title>Career Portal</title>
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-2">{{company_name}}</h1>
    <img class="img-fluid" id="banner" src="https://d8b154dd-f326-4d6f-a279-748e0f83ea2f-00-1q29pz13pk4tr.pike.replit.dev/static/banner.jpg.jpg">
    <h2 class="text-center mt-2 mb-2">About This Portal</h2>
    <p class="lead">In today's competitive job market, finding the right career opportunity can be daunting. This Career Search Page, a revolutionary platform designed to streamline the job hunting process and connect job seekers with their ideal employers. With its user-friendly interface and cutting-edge features, Jovian is changing the way individuals approach their career search.
</p>
    <h2 class="text-center">Open Positions</h2>
    <div>
      {%for job in jobs%}
        {%include 'jobitem.html'%}
      {%endfor%}
    </div>
      <div style="text-align:center;">
    <button class="btn btn-outline-primary btn-lg">Contact Us</button>
        <p class="lead mt-4" >Copyright 2024</p>
      </div>
    </div>
  </body>
</html>